<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="sinfo" class="com.spring.SpringFrame2.Student">
		<property name="sname" value="Raghava Sai Varma  " />
		<property name="rollno" value="2000030902  " />
	</bean>
	<bean id="einfo" class="com.spring.SpringFrame2.Employee">
		<property name="ename" value="Jeevan " />
		<property name="id" value="2000031859" />
	</bean>
</beans>